html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0}
ul,ul li{list-style-type:none}
fieldset,img{border:0 none}
fieldset legend,table caption{display:none}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace}
button,label{cursor:pointer;border:0 none}
table{border-collapse:collapse;border-spacing:0}

a{ text-decoration:none;color:#259; -webkit-transition:color 0.2s ease-in-out; -moz-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out; }
a:hover {color:#9c6}
pre{
  background-color: #f8f8f8;
border: 1px solid #ddd;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
border-radius: 3px;
}

.avatar img{
  height:25px;
  width:25px;
  margin-right:5px;
  vertical-align:middle;
}
.avatar span{
  vertical-align:middle;
}
.article p, .article ul, .article ol{
  padding:0 3px;
  line-height:1.7;
  margin:1.6em 0;
  font-size:15px;
}

.article ul, .article ol{
  margin-left:40px;
}
.article ul, .article ul li{
  list-style-type:square;
  color:#999;
}
.article ol,.article ol li{
  list-style-type:decimal;
  color: #999;
}
.post-date{
  color:#999;
  font-size:13px;
}
blockquote{
  border-left: 4px solid #E5E9F8;
  padding: 0 15px;
  color: #999;
}
.article h2, .article h1{
  line-height:1.7;
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  font-weight:normal;
}
.article h2{
  margin-top: 1.6em;
}
p.copyright{
  padding: 8em 0 1em 0;
text-align: center;
position: relative;
color: rgba(0,0,0,0.3);
clear:both;
font-size:12px;
}
body{
  font-family: palatino,'times new roman', serif;
  font-size: 13px;
  color: #222;
}
.excerpt h1, .excerpt h2{
  font-size:14px;
  font-weight:normal;
}
.clear:after{
  clear: both;
content: " ";
display: block;
height: 0;
visibility: hidden;
}

@media screen and ( min-width:768px ){
.wrap{
  width:960px;
  margin:-15px auto;
  /*overflow: hidden;*/
  position: relative;
}

.post_wrap{
  width:760px;
}
.article h1{
font-weight: bold;
color: #38485a;
font-size: 2.2rem;
}
.content{
  float: left;
  width: 632px;
}

.post_content{
  width:auto;
}
  .avatar span{
    color: rgba(34,59,74,.4);
font-weight: 600;
font-size: 14px;
  }
.info{
  float:left;
  margin-left:18px;
  padding:15px 10px 20px 20px;
}

.info_section{
  margin-top:10px;
  padding:5px;
}
.info_section a{
  color:#666;
}
.share{
  /*margin-top:8px;*/
  overflow: hidden;
}
.comment{
  margin-top:8px;
}

/*index*/
.idx-title-block h1{
  font-size: 18px;
  color:#666;
}

.idx-article-list li{
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-left: 0;
  /*outline: */
}
.idx-post-data{
  color: #999;
  position:absolute;
  right:0;
  top:0;
  font-size:13px;
  font-weight:normal;
}

.idx-article-list h2{
  font-size: 14px;
  position:relative;
}
.article{
  padding:10px;
}
.excerpt{
    padding-top:10px;
}
.excerpt p, .excerpt{
  color:#999;
}
p{
    padding-top:10px;
}
.flink-wrap{
  margin-top:15px;
}
.flink{
padding-bottom: 3px;
/*border-bottom: 1px solid #eee;*/
margin-bottom: 5px;
}
.flink-wrap ul{
border-top: 2px solid gray;
padding: 10px 0;
margin-top:5px;
}

.flink-wrap span{
  color: rgba(34,59,74,.4);
  font-weight: 600;
  font-size: 14px;
}


}
@media screen and (max-width:768px){
  body .wrap, h2{
    font-weight:normal;
  }
  body,.idx-wrap{
     background:#E4F0F8;
  }
  .excerpt{
    font-size:13px;
    color:#999;
  }
  .flink-wrap{
    display:none;
  }
  
  .avatar span{
    color: rgba(78, 37, 241, 0.4);
font-weight: 600;
font-size: 14px;
  }
  
  .idx-post-data{
  color: #999;
  margin-left:8px;
  font-size:12px;
  }
  .idx-title-block{
    display:none;
  }
  .idx-article-list li{
    box-shadow:1px 1px 4px 0px #999;
    -webkit-box-shadow:1px 1px 4px 0px #999;
    padding:10px;
    background:#fff;
    margin:-3px 5px 0;
  }
  .wrap{
    width:100%;
    padding-top:30px;
    position:relative;
    margin-top:-18px;
  }
  .info{
    position:absolute;
    min-height:30px;
    top:0;
    left:0;
    background-image:linear-gradient(#fff, #ECEBEB);
    background-image:-webkit-linear-gradient(#fff, #ECEBEB);
    background-image:-moz-linear-gradient(#fff, #ECEBEB);
    text-align:center;
    width:100%;
  }
  .info_section{
    padding:10px 0;
  }
  .article{
    background: #fff;
padding: 10px;
margin: 8px 3px 0px;
box-shadow: 1px 1px 4px 0px #999;
-webkit-box-shadow:1px 1px 4px 0px #999;
  }
  .share{
    background: #fff;
padding: 0 3px 10px;
margin: 0 3px;
box-shadow: 1px 1px 4px 0px #999;
-webkit-box-shadow:1px 1px 4px 0px #999;
overflow: hidden;
  }
  #disqus_thread{
    background: #fff;
padding: 10px 5px 10px;
margin: -5px 3px 10px;
box-shadow: 1px 1px 4px 0px #999;
-webkit-box-shadow:1px 1px 4px 0px #999;
  }
}

