a:hover{
  color:#9c6;
}

@media screen and ( min-width:768px ){
.wrap{
  width:80%;
  margin:0 auto;
}
.content{
  float: left;
  width: 75%;
}
.info{
  float:left;
  margin-left:8px;
}
.info_section{
  padding:5px;
}
.info_section a{
  color:#666;
  -webkit-transition:color 0.2s ease-in-out;
  -moz-transition:color 0.2s ease-in-out;
  transition:color 0.2s ease-in-out;
}
.share{
  margin-top:8px;
}
.comment{
  margin-top:8px;
}
}
@media screen and (max-width:768px){
  .wrap{
    width:100%;
    padding-top:30px;
    position:relative;
  }
  .info{
    position:absolute;
    min-height:30px;
    top:0;
    left:0;
    background-color:#eee;
    text-align:center;
    width:100%;
  }
  .info_section{
    padding:10px 0;
  }
}

