/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset css end */

/*layout index*/
@media screen and ( min-width:768px ){
.wrap{
  word-wrap: break-word;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 20px;
}
.index-wrap{
  position: relative;
  max-width: 960px;
}
.content{
  float: left;
  width: 632px;
}

.sider{
  padding:15px 10px 20px 20px;
}
.title-panel{padding:15px 0 5px;border-bottom:1px solid #ddd;}
.article-title{font-size:16px;}
.friend-links{ margin-top: 15px;}
.friend-links ul{
  border-top: 2px solid gray;
  padding: 10px 0;
  margin-top:5px;
}
/*.flink{padding-bottom: 3px;margin-bottom: 5px;}*/
.friend-links span{color: rgba(34,59,74,.4);font-weight: 600;font-size: 14px;}

.post-date-rt{position: absolute;right: 2px;top: 8px;}
.post-date{color: rgba(0,0,0,0.4);display: block;margin-bottom: 16px;}
.post-date a:active {text-decoration: none; color:rgba(0,0,0,0.4)}
.post-wrap{max-width: 760px;}
.article-pre{margin-top:3px;}
}
@media screen and (max-width:768px){
  body .wrap, h2{
    font-weight:normal;
  }
  body,.wrap{
     /*background:#fffefe;*/
  }
  .post-content{padding: 0 6px; margin:-67px auto !important;}
  /*.post-content h1{ margin: 0px -6px 5px; padding: 30px 0; text-align: center;background: #35c0c5;color: #fffefe;}*/
  #disqus_thread{padding: 0 5px;}
  .wrap{
    width:100%;
    padding-top:30px;
    position:relative;
    margin-top:-20px;
  }
  .self-info{
    padding:10px 0;
  }
  .slider{
      border: 1px solid #ddd;
      margin: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .article-pre{display: none;}
}

a{ text-decoration:none;color:#259; -webkit-transition:color 0.2s ease-in-out; -moz-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out; }
a:hover {color:#9c6}
pre{
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.avatar img{
  height:25px;
  width:25px;
  margin-right:5px;
  vertical-align:middle;
}
.avatar span{
  vertical-align:middle;
}
.small{
  color:#999;
  font-size:13px;
}
.relative{
  position: relative;
}
.copyright{
  padding: 100px 10px 10px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  color: rgba(0,0,0,0.3);
  clear:both;
  font-size:12px;
}
.clear:after{
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.post-content {word-wrap: break-word;font-size: 16px;line-height: 1.8; margin:0 auto; padding-top: 20px;}
.post-content a {text-decoration:underline;color:rgba(0,0,0,0.4);}
.post-content img {max-width:100%;display:block;}
.post-content p,
.post-content pre,
.post-content img {margin:16px 0;}
.post-content p {text-align: justify;}
.post-content h1 {font-size: 40px;-webkit-margin-before: 0;font-family: helveticaneue-light, arial, sans-serif;}
.post-content h2 {margin: 20px 0 10px; font-weight: bold;}
.post-content p + h3,
.post-content li + h3                     { padding-top:15px; } /* Only an h3 that follows a p or an li */
.post-content ul,
.post-content ol {margin:5px 0;}
.post-content ul li {list-style: disc inside none;}
.post-content ol li{list-style-type: decimal;}
.post-content li {color: rgba(0,0,0,0.4);margin-left: 20px;}
.post-content pre {background-color: #f8f8f8;border: 1px solid #ccc;overflow: auto;padding: 6px 10px;border-radius: 3px;white-space:pre-wrap;}
.post-content code {margin: 0 2px;padding: 0px 5px;border: 1px solid #EAEAEA;background-color: #F8F8F8;border-radius: 3px;white-space: pre-wrap;font-family: monospace; }
.post-content pre code {margin:0;padding:0;background-color: transparent;border:none;white-space:pre-wrap;}

.post-content .previous-next-nav {overflow: hidden;*zoom:1;}
.post-content .previous {float:left;}
.post-content .next {float:right;}
.post-content blockquote {margin: 0 0 12px;padding: 6px 12px 0 11px;border-left: 1px solid #dddddd;}
.post-content blockquote p   { line-height: 1.6; color: #6f6f6f; margin:8px 0;}




