---
layout: index-layout
title: kenshin blog
isindex: 1
---

<div class="title-panel"><i class="title-icon"></i><h1>文章列表</h1></div>
<ul class="article-list">
　　{% for post in site.posts %}
　　	{% if post.draft != true && post.aboutme != true %}
　　    <li>
			<h2 class="relative clearfix" style="margin-left:-15px;">
				<p><a href="{{ post.url }}" class="article-title col-xs-9">{{ post.title }}</a></p>
				<p class="small col-xs-3">{{ post.date | date: "%Y年%m月%d日"}}</p>
			</h2>
			<div class="article-pre small">
				{{ post.summary }}
			</div>
	</li>
	{% endif %}
　　{% endfor %}
</ul>
